* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    z-index: -1;
}

body {
    min-height: 100%;
    position: relative;
}

button:focus {
    outline: 0;
}

@media (max-width: 800px) {
    body {
        height: 200vh;
    }
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}